:root {
  // color variables go here.
  --c-background: white;
  --c-grey: #ccc;
}
.dark {
  // if we eventually add a dark theme those colors would go here.
  // for now simply ignore this section.
  --c-background: black;
}
