@import 'typography';

:root {
  font-size: 62.5%;
}

.footer {
  padding: 3.81rem 16rem;
  border-top: 1px solid rgba(0, 0, 0, 0.17);

  @media (max-width: 640px) {
    padding: 1.6rem 0;
  }
}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  @media (max-width: 768px) {
    padding: 0 2rem;
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4rem;
}

.row {
  width: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 768px) {
    width: 100%;
    flex-direction: column;
  }
}

.logoSection {
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 3.13rem;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.footerHeading {
  color: #9f9f9f;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.footerLogo {
  height: 2.25rem;
  width: 5.25rem;
  object-fit: cover;
  object-position: center;
}

.address {
}

.linksSection {
}

.linksHeading {
}

.linksList {
}

.linkItem {
}

.helpSection {
}

.helpLinks {
}

.newsletterSection {
}

.newsletterInput {
}

.subscribeButton {
}

.subscribeText {
}

.divider {
}

.copyright {
}
