@use "../partials/variables.scss" as *;
@use "../partials/mixins" as *;

.breadcrumb {
  font-family: $font-family;
  padding: 3rem 0;
  background-color: var(--basic-blue);

  .breadcrumbContainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
  }

  .breadcrumbItem {
    font-size: 1.4rem;
    color: var(--light-blue);
    text-decoration: none;
    display: flex;
    align-items: center;

    &:hover {
      color: var(--red);
    }

    &:last-child {
      color: var(--text-color-2);
      pointer-events: none;
    }
  }

  .separator {
    margin: 0 2rem;
    color: var(--text-color-2);
    font-size: 1.4rem;
    display: flex;
    align-items: center;
  }

  .pipeSeparator {
    display: inline-block;
    width: 1px;
    height: 3.7rem;
    background-color: var(--light-blue);
    margin: 0 2rem 0 0;
  }

  .itemGroup {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}
