@use "../partials/variables" as *;

.cart {
  padding: 5rem 15rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.table-container {
  width: 100%;
}

.cart-table {
  border-collapse: collapse;
  width: 100%;
}

.cart-th {
  vertical-align: middle;
  text-align: left;
  background-color: var(--blue-grey);
}

.cart-td {
  vertical-align: middle;
}
