@use "../partials/variables" as *;

.cart {
  padding: 5rem 15rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  width: 100%;
}

.table-container {
  width: 100%;
}

.cart-table {
  border-collapse: collapse;
  width: 100%;
}

.cart-th {
  vertical-align: middle;
  text-align: left;
  background-color: var(--blue-grey);
}

.cart-td {
  vertical-align: middle;
}

.product-cell {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  width: 25rem;

  .image-container {
    border-radius: 10px;
    margin-top: 4rem;

    img {
      width: 100%;
      height: 10.5rem;
      object-fit: contain;
      border-radius: 10px;
    }
  }
}

.price-cell {
  margin-left: 6.8rem;
  width: 15.8rem;
}

.quantity-cell {
  padding: 0 3.6rem;
  width: 10.5rem;
  margin-top: 0.5rem;

  input {
    border: 1px solid var(--text-color);
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    color: var(--text-color);
    font-size: 1.6rem;
  }
}

.subtotal-cell {
  margin-left: 1.808rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 15rem;
}

.delete-cell {
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  width: 4rem;
  color: var(--basic-blue);
  transition: 0.3s;

  &:hover {
    color: var(--red);
  }
}

.header-cell {
  padding: 1.4rem 0;
  font-weight: $font-weight-medium;

  &.product-header {
    padding: 1.4rem 4.4rem;
    text-align: end;
  }

  &.price-header {
    margin-left: 6.8rem;
  }

  &.quantity-header {
    padding: 1.4rem 1.8rem;
  }

  &.subtotal-header {
    margin-left: 1.8rem;
  }
}

.totals-container {
  background-color: var(--blue-grey);
  padding: 2rem;
  display: flex;
  justify-content: center;
  width: 28%;

  .totals-content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;

    h1 {
      font-weight: $font-weight-medium;
      text-wrap: nowrap;
    }

    .subtotal,
    .total {
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      width: 100%;
      margin-top: 3rem;

      &.subtotal {
        margin-top: 6rem;
      }

      p:first-child {
        font-weight: $font-weight-semi-bold;
      }

      p:last-child {
        color: var(--product-name-color);
        font-weight: normal;

        &.total-amount {
          font-size: 2rem;
          color: var(--basic-blue);
          font-weight: 600;
        }
      }
    }

    button {
      margin: 4rem 1rem 0;
      border: 1px solid var(--basic-blue);
      background-color: var(--blue-grey);
      color: var(--basic-blue);
      border-radius: 1.4rem;
      transition: 0.3s;
      font-size: 2rem;
      width: 20rem;
      height: 5.8rem;

      &:hover {
        background-color: var(--basic-blue);
        color: var(--white);
      }

      &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
        background-color: var(--blue-grey);
        color: var(--basic-blue);
      }
    }
  }
}
