@use "../partials/variables" as *;

.fieldset {
  border: none;

  .header {
    position: relative;
    align-items: center;
    padding: 12px 0;

    legend {
      display: flex;
      align-items: baseline;
      gap: 13px;
      pointer-events: none; /* Prevent legend from catching clicks */
      margin-bottom: 6px;
      .subLegend {
        font-size: $font-size-lg;
        font-weight: $font-weight-light;
        color: var(--grey-4);
      }
    }

    .toggleButton {
      position: absolute;
      display: block;
      background: none;
      inset: 0;
      border: none;
      cursor: pointer;
      z-index: 1;

      /* position button */
      & {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }

  > hr {
    border: none;
    border-top: 1px solid #e0e0e0;
  }

  .content {
    interpolate-size: allow-keywords;
    overflow: hidden;
    transition:
      max-height 0.3s ease-in-out,
      margin-bottom 0.6s 0.15s ease-in-out;
    max-height: 0;
    margin-bottom: 0;

    > *:first-child {
      margin-top: 14px;
    }

    &.open {
      max-height: 500px;
      margin-bottom: 16px;
      transition:
        max-height 0.6s ease-in-out,
        margin-bottom 0.6s ease-in-out;
    }
  }
}
