@import "../partials/_variables";
@import "../partials/_mixins";
@import "../abstracts/typography.module";
@import "../partials/_reset";

.header {
  font-weight: $font-weight-medium;
  padding: 1.38rem 3.38rem;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;

  @media (max-width: $breakpoint) {
    padding: 1.25rem;
  }

  .headerLogo {
    height: 3.13rem;
    width: 11.5rem;
    object-fit: cover;
    object-position: center;
  }

  .navList {
    display: flex;
    flex-wrap: wrap;
    gap: 4.63rem;
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;
    }

    @media (max-width: $breakpoint) {
      gap: 2.5rem;
    }
  }

  .iconContainer {
    margin-right: 2.88rem;
    width: 18%;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;

    .icon {
      height: 1.75rem;
    }
  }

  @include responsive(md) {
    flex-direction: column;
    padding: 1.25rem;

    .navList {
      gap: 1.25rem;
    }

    .iconContainer {
      margin-right: 0;
      width: 100%;
    }
  }

  @include responsive(sm) {
    padding: 1.25rem;
  }
}
