@use "../partials/variables" as *;

.skeletonCard {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 28.5rem;

  @media (max-width: $breakpoint-md) {
    min-width: 29rem;
  }

  @media (max-width: $breakpoint-sm) {
    min-width: 30rem;
  }

  .imageWrapper {
    position: relative;
    height: $product-image-height;
    width: 100%;
    background-color: #f6f5f5;
    flex: 1;

    .skeletonImage {
      height: $product-image-height;
      width: 100%;
      animation: pulse 1.5s infinite;
      flex: 1;
    }
  }

  .detailsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: stretch;
    background-color: var(--details-container-bg, #ece7e7);
    padding: 1.6rem;
    height: 145px;
    gap: 1rem;

    .skeletonText {
      height: 20px;
      background: #eee;
      border-radius: 4px;
      animation: pulse 1.5s infinite;
      margin-bottom: 0.8rem;
    }

    .priceContainer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      gap: 1.6rem;
      margin-bottom: 1.6rem;
      margin-top: auto;
      letter-spacing: 1px;
    }
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
