@import "../partials/variables";

.shopContainer {
  //margin-top: 2.88rem;
  .flexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .backgroundBox {
      height: 48.5rem;
    }

    .container {
      position: relative;
      margin-top: -47.5rem;

      @media (max-width: $breakpoint-md) {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }

    .contentWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4.38rem;

      @media (max-width: $breakpoint-md) {
        gap: 3.25rem;
      }

      @media (max-width: $breakpoint-sm) {
        gap: 2.19rem;
      }

      .gridContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        justify-content: center;
        align-self: stretch;

        @media (max-width: $breakpoint-md) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: $breakpoint-sm) {
          grid-template-columns: repeat(1, 1fr);
        }
      }

      .buttonContainer {
        display: flex;
        width: 32%;
        justify-content: space-between;
        gap: 1.25rem;

        @media (max-width: $breakpoint-md) {
          width: 100%;
        }

        .button {
          min-width: 3.7rem;
          border-radius: 5px;
          padding-left: 1.6rem;
          padding-right: 1.6rem;

          @media (max-width: $breakpoint-sm) {
            padding-left: 1.25rem;
            padding-right: 1.25rem;
          }
        }

        .nextButton {
          min-width: 5rem;
          border-radius: 10px;
          padding-left: 1.6rem;
          padding-right: 1.6rem;
          font-weight: $font-weight-regular;

          @media (max-width: $breakpoint-sm) {
            padding-left: 1.2rem;
            padding-right: 1.2rem;
          }
        }
      }
    }
  }
}
