@use "../partials/variables.scss" as *;

.uspBanner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 27.1rem;
  padding: 2rem 8.5rem;
  background-color: var(--basic-blue);
  font-family: $font-family;
  .usp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    > div {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      i {
        height: 5.5rem;
        width: 6rem;
        background-color: var(--red);
      }
    }
    div:nth-child(2) {
      flex-direction: column;
      align-items: flex-start;
      p {
        font-size: 2.5rem;
        font-weight: 500;
        color: var(--text-color-2);
        margin-bottom: 1rem;
      }
      span {
        font-size: 2rem;
        font-weight: 300;
        color: var(--light-blue);
      }
    }
  }
}
