@use "../partials/mixins" as *;
@use "../partials/variables" as *;

.text,
.heading {
  font-family: $font-family;
  &[class*="heading"] {
    font-weight: bold;
  }

  &-xs {
    font-size: 1.4rem;
  }

  &-lg {
    font-size: 1.6rem;
  }

  &-md {
    font-size: 3.2rem;
  }

  &-xl {
    font-size: 2rem;
  }

  &-2xl {
    font-size: 2.5rem;
  }

  &-3xl {
  }

  &-4xl {
  }

  &-5xl {
    font-size: 6rem;
  }
}
