@use "./partials/reset";
@use "./partials/pallet";

$font-family-sans-serif: "Roboto", sans-serif;

// testing the scss
body {
  font-size: 2rem;
  font-family: $font-family-sans-serif;
  color: red;
}
