@use "../../partials/variables" as *;

.labelCheckbox {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: $font-size-lg;
  line-height: 1.5;
  color: var(--grey-4);
  input {
    display: none;
  }
  label {
    cursor: pointer;
    user-select: none;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 1rem;
    .icon {
      display: none;
    }
  }
  > span {
    margin-left: auto;
  }
  &:has(input:checked) {
    label {
      > span {
        color: var(--text-color);
        font-weight: bold;
      }
      .icon {
        display: inline-block;
      }
    }
  }
}
